{% load static %}
<section class="header text-white">
  <div class="container">
    <div class="row pt-3">
      <div class="col-lg-2">
        <img src="{% static 'assets/gambar/logo-smkn4.png' %}" alt="logo" class="logo">
      </div>
      <div class="col-lg-8">
        <div class="inner-header">
          <h1 class="font-prototype">e-Perpus SMK Negeri 4 Tasikmalaya.</h1>
          <p>
            Jl. Depok Sukamenak - Purbaratu<br>
            Telp. (0265)312059 Tasikmalaya 46196<br>
            Email: info@smkn4-tsm.sch.id
          </p>
        </div>
      </div>
      <div class="col">
        <div class="text-right">
          <i class="fa fa-book-reader fa-5x"></i>
          <!-- <i class="fa fa-book fa-2x fa-fw abu rotate" aria-hidden="true"></i> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="batas-header"></section>